@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="row">

        <div class="col-lg-5 p-3 text-center text-lg-start d-block d-lg-none">
            <img src="~/assets/team.svg" alt="Logo" class="img-fluid mr-2 svg" />
        </div>

        <div class="col-lg-7 p-3 text-center text-lg-start d-none d-lg-block">
            <h1 class="fw-bold display-4">Bridging Minds Connecting Hearts</h1>
            <h4 class="fw-600 display-6">Empowering Doctors Globally to Connect, Collaborate, and Elevate Healthcare through Continuous Education and Shared Expertise.</h4>
            <a asp-controller="User" asp-action="Register" class="btn btn-outline-go col-lg-5 col-12 mt-2"><h3>Join Community</h3></a>
        </div>
        <div class="col-lg-7 p-3 text-center  d-block d-lg-none">
            <h1 class="fw-bold display-2">Bridging Minds Connecting Hearts</h1>
            <h3 class="fw-600 display-4">Empowering Doctors Globally to Connect, Collaborate, and Elevate Healthcare through Continuous Education and Shared Expertise.</h3>
            <a asp-controller="User" asp-action="Register" class="btn btn-outline-go col-lg-5 col-12 mt-2"><h3>Join Community</h3></a>
        </div>

        <div class="col-lg-5 p-3 text-center text-lg-start d-none d-lg-block">
            <img src="~/assets/team.svg" alt="Logo" class="img-fluid mr-2 svg" />
        </div>
    </div>
</div>
